{{!--
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> --}}
<link rel="stylesheet" type="text/css" href="/css/birdcards.css" />
{{#each birdsArr as |bird|}}
<div class="bird-card">
  <div class="face face1">
    <div class="content">
    </div>
    {{!-- <img src="{{bird.IMAGEURL}}" /> --}}
  </div>
  <div class="face face2">
    <div class="content">
      <div>
        <h3>Bird Name: </h3>{{bird.bird_name}}
      </div>
    </div>
    <a class="readMore" href="/singlebird">Read More</a>
  </div>
</div>
{{/each}}