<link rel="stylesheet" type="text/css" href="/css/birdcards.css" />
{{#each birdsArr as |bird|}}
<div data-birdid="{{bird.id}}" class="bird-card">
  <div class="face face1">
    <div class="content">
    </div>
    {{!-- <img src="{{bird.IMAGEURL}}" /> --}}
  </div>
  <div class="face face2">
    <div class="content">
      <div>
        <div class="birdName">
          {{bird.bird_name}}
        </div>
      </div>

    </div>
    <div class="readMore">
      <a onclick="viewBird()" href="/singlebird">Read More</a>
    </div>
  </div>
</div>
{{/each}}