<<<<<<< HEAD
{{!--
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> --}}
<link rel="stylesheet" type="text/css" href="/css/birdcards.css" /> 
=======
<link rel="stylesheet" type="text/css" href="/css/birdcards.css" />
>>>>>>> 901466f4ba865c859c72c53de878c964a18265f6
{{#each birdsArr as |bird|}}
<div data-birdid="{{bird.id}}" class="bird-card">
  <div class="face face1">
    <div class="content">
    </div>
    {{!-- <img src="{{bird.IMAGEURL}}" /> --}}
  </div>
  <div class="face face2">
    <div class="content">
      <div>
        <div class="birdName">
          {{bird_name}}
        </div>
      </div>

    </div>
    <div class="readMore">
<<<<<<< HEAD
      <a href="/singlebird/{{id}}">Read More</a>
=======
      <a onclick="viewBird()" href="/singlebird">Read More</a>
>>>>>>> 901466f4ba865c859c72c53de878c964a18265f6
    </div>
  </div>
</div>
{{/each}}