{{!--
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> --}}
<link rel="stylesheet" type="text/css" href="/css/birdcards.css" />
{{#each birdsArr as |bird|}}
<div data-birdid="{{bird.id}}" class="bird-card">
  <div class="face face1">
    <div class="content">
    </div>
    <img class="birdImg" src="/images/{{bird.bird_img}}" />
  </div>
  <div class="face face2">
    <div class="content">
      <div>
        <div class="birdName">
          {{bird.bird_name}}
        </div>
      </div>

    </div>
    <div class="readMore">
      <a href="/singlebird/{{id}}">Read More</a>

    </div>
  </div>
</div>
{{/each}}
<div class="allBirds">
  <a href="/homeall">View All Birds</a>
</div>