<label for="bird-type">Type of Bird</label>
<input id="bird-type">
<hr>
<label for="lat-long-input">GPS Coordinates (Latitude and Longitude)</label>
<input id="lat-long-input">
<hr>
<button type="submit" id="submitButton">Submit Bird Sighting for Review</button>
<hr>
<div id="mapid" style="height: 500px; width: 650px;"></div>
<div id="text"></div>


<script src="/js/map.js"></script>