<div class="column">
  <figure class="card code-card">
    <form action="#" class="sign-up-form">
      <h2 class="title">Add a new Species</h2>
      <div class="input-field">
        <i class="fas fa-user"></i>
        <input id="bird_type" type="text" placeholder="Bird Family (ie. Owls, Woodpekers, etc.)" />
      </div>
      <div class="input-field">
        <i class="fas fa-envelope"></i>
        <input id="bird_name" type="text" placeholder="Full Name" />
      </div>
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input id="latin_name" type="text" placeholder="Latin Name" />
      </div>

      <div class="inputfield">
        <i class="fas fa-envelope"></i>
        <input id="max_age" type="number" placeholder="Max Age" />
      </div>
      <div class="inputfield">
        <i class="fas fa-envelope"></i>
        <input id="max_age" type="number" placeholder="Average Weight" />
      </div>
      <div class="inputfield">
        <i class="fas fa-envelope"></i>
        <input id="max_age" type="number" placeholder="Description" />
      </div>
      <input type="submit" class="btn" value="Submit" />
    </form>
  </figure>
</div>