<div class="column1">
  <figure class="card code-card" style="box-shadow: 0 20px 40px rgb(3, 54, 3);">
    <form action="#" class="signup-form">
      <h2 class="title" style="color: rgb(3, 54, 3)">Add a new Species</h2>
      <div class="input-field"
        style="max-width:none; grid-template-columns: none; border: #ffdd57 solid 2px; background-color: #fff">
        <input id="bird_type" type="text" placeholder="Bird Family (ie. Owls, Woodpekers, etc.)" />
      </div>
      <div class="input-field"
        style="max-width:none; grid-template-columns: none; border: #ffdd57 solid 2px; background-color: #fff">
        <input id="bird_name" type="text" placeholder="Full Name" />
      </div>
      <div class="input-field"
        style="max-width:none; grid-template-columns: none; border: #ffdd57 solid 2px; background-color: #fff">
        <input id="latin_name" type="text" placeholder="Latin Name" />
      </div>
      <div class="input-field"
        style="max-width:none; grid-template-columns: none; border: #ffdd57 solid 2px; background-color: #fff">
        <input id="max_age" type="number" placeholder="Max Age" />
      </div>
      <div class="input-field"
        style="max-width:none; grid-template-columns: none; border: #ffdd57 solid 2px; background-color: #fff">
        <input id="av_weight" type="number" placeholder="Average Weight" />
      </div>
      <div class="input-field"
        style="max-width:none; grid-template-columns: none; border: #ffdd57 solid 2px; background-color: #fff">
        <input id="description" type="text" placeholder="Description" />
      </div>
      <div class="input-field"
        style="max-width:none; grid-template-columns: none; border: #ffdd57 solid 2px; background-color: #fff">
        <input id="location" type="text" placeholder="Location" />
      </div>
      <input id="create" type="submit" class="btn" value="Submit" />
    </form>
  </figure>
</div>