<div class="column1">
  <h2>{{bird_name}}</h2>
  <figure class="card code-card">
<<<<<<< HEAD
    {{!-- attach all info aboy birds --}}
    {{!-- <img src="/images/{{filename}}" alt="{{description}}"> --}}
    
=======
    {{!-- attach all info about birds --}}
>>>>>>> 901466f4ba865c859c72c53de878c964a18265f6
  </figure>
  <p>{{description}}</p>
</div>
