<div class="column1">
  <h2>{{bird.bird_name}}</h2>
  <figure class="card code-card">
    {{!-- attach all info aboy birds --}}
    {{!-- <img src="/images/{{filename}}" alt="{{description}}"> --}}

  </figure>
  <p>{{bird.description}}</p>
</div>